<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página no encontrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Error 404 - Página no encontrada
    </ion-card-header>
    <ion-card-content>
      La página que estás buscando no existe.
    </ion-card-content>
  </ion-card>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/home" expand="full">REGRESAR AL HOME</button>
    </div>
    </section>
</ion-content>
