<!-- accesodocente.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar-title">Acceso Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <p>Usuario: {{ userEmail }}</p>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para crear QR -->
  <ion-button expand="full" color="primary" routerLink="/crear-qr">
    
    Crear QR
  </ion-button>


  <!-- Botón para ver la cantidad de alumnos -->
  <ion-button expand="full" color="secondary" routerLink="/cantidad-alumnos">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    Cantidad de Alumnos
  </ion-button>

  <!-- Agrega más elementos según tus necesidades -->
  
</ion-content>
