.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  q-label {
    font-size: 24px; /* Tamaño de fuente más grande */
  }

  .contador-label {
    font-size: 24px; /* Tamaño de fuente más grande */
  }